body{
    margin: 0;
    height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 70% 30%;
}

#calender{
    height: 100%;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header{
    display: flex;
    gap: 10px;
    top: 20px;
    position: fixed;
}

td ,th{
    border: solid black 1px;
    padding: 20px;
}

#list{
    
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
